# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules

# dotenv environment variables file
.env

# Generate output
dist
interpreter-ts.api.json
/artifacts
/cache
/contracts
/typechain

# That one file that may bother :D
.DS_Store
